.headerbar{
    display: inline-flex;
    align-items:baseline;
    justify-content:space-between;
    padding: 1px;
    background-color: darkgray;
    margin-top: 1px;
    width: 100%;
    max-width: 800px;
}
.colectie{
    display: flex;
    justify-content: center;
    max-width: 700px;
    min-width: 300px;
    margin: auto;
}
.colectie > img{
    border: 3px solid blue;
    padding: 3px;
    border-radius: 10px;
    max-width: 90%;
    height: auto;
    margin: 10px;
}
h3, h5{
    margin-bottom: 0px;
    text-shadow: 1px 1px 1px black;
}
h3{
    margin-left: 30px;
}
.shopcart{
    display: flex;
    align-items:flex-end;
    height: fit-content;
    margin-right: 30px;
}
.qa{
    margin-left: 2px;
    
}
.quant{
    font-size: 1rem;
    border-radius: 50% 50% 50% 50%;
    vertical-align: text-top;
    width: 15px;
    background-color: red;
    color: white;
}
li{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    font-size: 1.1rem;
    width: 70px;
    height: 29px;
}
.btnPlusMinus{
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: fit-content;
    margin-top: 8px;
    margin-bottom: 8px;
}
.qx{
    margin-left: 4px;
    margin-right: 4px;
}
.content{
    display: flex;
    justify-content: center;
}
.description{
    font-size: 1.1rem;
    font-weight: 700;
}
.prod{
    width: fit-content;
    margin: 10px;
}
.val{
    display: flex;
    justify-content: center;
}
.checkOutCart{
    margin-top: 1px;
    position: relative;
}
.checkOut{
    border: 2px solid grey;
    position:absolute;
    width: fit-content;
    margin-right: 20px;
    right: 0;
    margin-top: 10px;
    padding: 5px;
    background-color: white;
}
.bsk{
    display: flex;
    flex-direction: column;
    max-width: 350px;

}
.bsk > div{
    text-align: right;
    margin-bottom: 3px;
    font-size: 0.9rem;
}
.total{
    max-width: 100px;
    margin: auto;
    text-align: right;
    margin-right: 1px;
    margin-top: 4px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
}

footer{
    padding: 10px;
    background-color: darkgray;
    max-width: 800px;
    margin: auto;
}