.headerbar{
    display: inline-flex;
    align-items:baseline;
    justify-content:space-between;
    border: 1px solid red;
    padding: 1px;
    background-color: darkgray;
    margin-top: 1px;
    width: 100%;
}
h3, h5{
    border: 1px solid red;
    margin-bottom: 0px;
}
h3{
    margin-left: 30px;
}
img{
    border: 1px solid red;
}
.shopcart{
    display: flex;
    align-items:flex-end;
    border: 1px solid red;
    height: fit-content;
    margin-right: 30px;
}
.qa{
    border: 1px solid red;
    margin-left: 2px;
    
}
.quant{
    font-size: 1rem;
    border: 1px solid red;
    border-radius: 50% 50% 50% 50%;
    vertical-align: text-top;
    width: 15px;
    background-color: red;
    color: white;
}
li{
    display: flex;
    border: 1px solid red;
    align-items: center;
    justify-content: center;
}
input{
    font-size: 1.1rem;
    width: 70px;
    height: 29px;
}
.content{
    border: 1px solid red;
    display: flex;
    justify-content: center;
}
.description{
    font-size: 1.1rem;
    font-weight: 700;
}
.prod{
    border: 1px solid red;
    width: fit-content;
    margin: 10px;
}
.val{
    display: flex;
    justify-content: center;
}
footer{
    background-color: darkgray;
}