.headerbar{
    display: flex;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    align-items:baseline;
    justify-content:space-between;
    padding: 5px;
    padding-left: 20px;
    padding-right: 10px;
    background-color: darkgray;
    margin: auto;
    max-width: 800px;
    margin-bottom: 10px;

}
.colectie{
    display: flex;
    justify-content: center;
    max-width: 700px;
    min-width: 300px;
    margin: auto;
}
.colectie > img{
    border: 3px solid blue;
    padding: 3px;
    border-radius: 10px;
    max-width: 90%;
    height: auto;
    margin: 10px;
}
h3, h5{
    margin-bottom: 0px;
    text-shadow: 1px 1px 1px black;
}
h2{
    color: darkcyan;
    text-shadow: 1px 1px 1px black;
    font-size: 2rem;
}
h3{
    margin-left: 2px;
    font-size: 1.4rem;
    margin-bottom: 0px;
}
h5{
    font-size: 1.2rem;
    text-align: center;
    color: darkcyan;
}
h4{
    font-size: 1.4rem;
}
.shopcart{
    display: flex;
    align-items: flex-end;
    height: fit-content;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
}
.qa{
    margin-left: 2px;
    height: 40px;
    
}
.quant{
    font-size: 1rem;
    border-radius: 50% 50% 50% 50%;
    vertical-align: text-top;
    width: 18px;
    background-color: red;
    color: white;

}
li{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    font-size: 1.1rem;
    width: 70px;
    height: 29px;
}
.btnPlusMinus{
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: fit-content;
    margin-top: 8px;
    margin-bottom: 8px;
}
.qx{
    margin-left: 8px;
    margin-right: 8px;
}
.content{
    display: flex;
    justify-content: center;
}
.description{
    font-size: 1.1rem;
    font-weight: 700;
}
.prod{
    width: fit-content;
    margin: 10px;
}
.val{
    display: flex;
    justify-content: center;
}
.checkOutCart{
    margin-top: 1px;
    position: relative;
    max-width: 800px;
    margin: auto;
}
.checkOut{
    border: 2px solid grey;
    position:absolute;
    width: fit-content;
    margin-right: 10px;
    right: 0;
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(163, 162, 162);

}
.bsk{
    display: flex;
    flex-direction: column;
    max-width: 550px;

}
.bsk > div{
    text-align: right;
    margin-bottom: 3px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
}
.itembasket{
    border-bottom: 1px solid black;
    margin-right: 5px;
}
.total{
    max-width: 100px;
    margin: auto;
    text-align: right;
    margin-right: 1px;
    margin-top: 4px;
}
.bskbtn{
    display: flex;
    justify-content:space-between;
    margin: auto;
    width: 55px;
    margin-left: 15px;
    margin-right: 10px;
}
.bskbtn > button{
    width: 19px;
    height: 19px;
    height: fit-content;
    padding: 1px;

}
.content{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
}
p{
    max-width: 800px;
    width: 90%;
    margin: auto;
}
p::first-letter {
    font-size: 150%;
    font-weight: bold;
    color: #8A2BE2;
  }


footer, .contact{
    padding: 4px;
    background-color: darkgray;
    max-width: 800px;
    margin: auto;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    padding-top: 3px;
    margin-bottom: 0px;

}
.lin{
    height: 25px;
    width: 25px;
    margin-left: 15px;
}